{{define "content"}}
<main>
    <!--hero-->
    <section class="hero is-black is-medium is-bold">
            <div class="hero-body">
              <div class="container has-text-centered">
                <h1 class="title is-1 has-text-info">
                  Blogr
                </h1>
                <h2 class="subtitle">
                    A simple blog platform
                </h2>
              </div>
              <div class="container has-text-centered mt-6">
                <div class="columns is-centered">
                    <div class="column is-one-third has-text-centered">
                        <p class="title is-2" id="poststat">0</p>
                        <p class="subtitle is-4">Posts</p>
                    </div>
                    <div class="column is-one-third has-text-centered">
                        <p class="title is-2" id="commentstat">0</p>
                        <p class="subtitle is-4">Comments</p>
                    </div>
                    <div class="column is-one-third has-text-centered">
                        <p class="title is-2" id="userstat">0</p>
                        <p class="subtitle is-4">Users</p>
                    </div>
                </div>
            </div>
            </div>
    </section>

    <!--feature cards-->
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left is-hidden-mobile">
                                    <figure>
                                        <i class="fas fa-pen"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Write</p>
                                    <p>Write and publish your own blog posts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left is-hidden-mobile">
                                    <figure>
                                        <i class="fas fa-comment"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Comment</p>
                                    <p>Comment on other users' blog posts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left is-hidden-mobile">
                                    <figure>
                                        <i class="fas fa-share"></i>
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Share</p>
                                    <p>Share your blog posts with others.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</main>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.title = 'Blogr - Home';
    });

    const statsurl = '/api/stats';
    fetch(statsurl)
        .then(response => response.json())
        .then(data => {
            document.getElementById('poststat').textContent = data.post_count;
            document.getElementById('commentstat').textContent = data.comment_count;
            document.getElementById('userstat').textContent = data.user_count;
        });
</script>

{{end}}