{{define "content"}}
<main>
    <div class="container mt-6">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <h2 class="title is-2 has-text-info">Premium Content</h2>
                        <p>Unlock premium content by subscribing to our premium membership.</p>
                        <p>Benefits include:</p>
                        <ul>
                            <li>Access to post webhooks</li>
                            <li>Access to premium themes</li>
                            <li>Access to premium plugins</li>
                        </ul>
                        <p class="has-text-danger has-text-weight-bold">Only $2.00/month</p>
                        <a class="button is-link" href="/subscribe">Subscribe</a>
                        <a class="button is-link is-light" href="https://liberapay.com/sevensrequiem/donate">Donate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{end}}

