{{define "content"}}
<div class="profilecontainer">
    <div class="sidebar">
        <a href="/user/notifications">Notification</a>
        <a href="/user/posts">Posts</a>
        <a href="/user/comments">Comments</a>
        <a href="/user/settings">Settings</a>
        <a href="/user/security">Security</a>
        <a href="/user/privacy">Privacy</a>
        <a href="/user/delete">Delete</a>
        
    </div>
    {{template "profile" .}}
</div>
<style>
    .profilecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 100%;
    }
    .sidebar {
        width: 200px;
        height: 100%;
        background-color: #f1f1f1;
        margin-top: 50px;
        padding: 20px;
        border-right: 1px solid #ccc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .sidebar a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #333;
    }
    .sidebar a:hover {
        color: aqua;
        background-color: #333;
    }
</style>
{{end}}
