{{define "profile"}}
<div class="newpost">
    <form action="/api/user/blog" method="POST" enctype="multipart/form-data">
        <div class="posttitle">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="postimage">
            <label for="image">Image</label>
            <input type="file" name="image" id="image" required>
        </div>
        <div class="postpostcontent">
            <label for="postcontent">Post Content</label>
            <textarea name="postcontent" id="postcontent" required></textarea>
        </div>
        <div class="posttags">
            <label for="tags">Tags</label>
            <input type="text" name="tags" id="tags">
        </div>
        <div class="postsubmit">
            <input type="submit" value="Post">
        </div>
    </form>
    <script>
        // axios post new post
        const form = document.querySelector('.newpost form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(form);
            try {
                const response = await axios.post('/api/user/blog', formData);
                if (response.status === 200) {
                    alert('Post created');
                    form.reset();
                }
            } catch (error) {
                console.error(error);
            }
        });
    </script>
</div>
<div class="postscontainer">
    <div class="posts">
    </div>
</div>
<script>
    // axios get posts in json
    window.addEventListener('load', async () => {
        try {
            const response = await axios.get('/api/user/blog');
            if (response.status === 200) {
                const posts = response.data;
                const postscontainer = document.querySelector('.posts');
                posts.forEach(post => {
                    const postdiv = document.createElement('div');
                    postdiv.classList.add('post');
                    postdiv.innerHTML = `
                    <h2>${post.title}</h2>
                    <p>${post.tags}</p>
                    <p>${post.date}</p>
                    <img src="/uploads/${post.image}" alt="${post.title}">
                    <p>${post.content}</p>

                    `;
                    postscontainer.appendChild(postdiv);
                });
            }
        } catch (error) {
            console.error(error);
        }
    });
</script>
<style>
    .newpost {
        width: 500px;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .newpost form {
        display: flex;
        flex-direction: column;
    }
    .newpost label {
        margin-bottom: 10px;
    }
    .newpost input[type="text"],
    .newpost input[type="file"],
    .newpost textarea {
        color: #000;
        margin-bottom: 10px;
        padding: 5px;
    }
    .newpost input[type="submit"] {
        padding: 5px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .newpost input[type="submit"]:hover {
        background-color: aqua;
    }
    .postscontainer {
        width: 500px;
    }
    .posts {
        display: flex;
        flex-direction: column;
    }
    .post {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }
    .post h2 {
        margin-bottom: 10px;
    }
    .post img {
        width: 100%;
        margin-bottom: 10px;
    }
    .post p {
        margin-bottom: 10px;
    }



</style>
{{end}}