{{define "profile"}}
    <div class="profile">
        {{if .User.Premium}}
        <h1 class="premium">Profile</h1>
        {{else}}
        <h1>Profile</h1>
        {{end}}
        <div class="profileinfo">
            <div class="profileinfoitem">
                <span>Name:</span>
                <span>{{.User.Name}}</span>
            </div>
            <div class="profileinfoitem">
                <span>Username:</span>
                <span>{{.User.Username}}</span>
            </div>
            <div class="profileinfoitem">
                <span>Email:</span>
                <span>{{.User.Email}}</span>
            </div>
            <div class="profileinfoitem">
                <span>Created:</span>
                <span>{{.User.DateCreated}}</span>
            </div>
            <div class="profileinfoitem">
                <span>Reputation:</span>
                <span>{{.User.Reputation}}</span>
            </div>
            <div class="profileinfoitem">
                <span>Views:</span>
                <span>{{.User.TotalViews}}</span>
            </div>
        </div>
    
</div>
<style>
    .premium::after {
        content: "Premium";
        font-size: 15px;
        color: #fff;
        background-color: #f1c40f;
        padding: 5px 10px;
        margin-left: 10px;
        border-radius: 5px;
    }
    .profile {
        width: 500px;
        padding: 20px;
    }
    .profile h1 {
        margin-bottom: 20px;
    }
    .profileinfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .profileinfoitem {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .profilebuttons {
        display: flex;
        justify-content: space-between;
    }
    .profilebuttons a {
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
    }
    .profilebuttons a:hover {
        background-color: #555;
    }
</style>
{{end}}
